
~$Python Урок 4 for while break continue.pptx
~$Python Урок 6 Функція. Рекурсія.pptx
~$Python Урок 7 Лямбда.pptx
~$Python Урок 2 Базові операції.pptx
~$Python Урок 18 Спадкування.pptx
~$Python Урок 22 datetime, match case.pptx
~$Python Урок 3 Умовні оператори та pass.pptx
~$Python Урок 4 Цикли.pptx
